In [1]:
import pandas as pd
import seaborn as sb

In [2]:
Voter2023 = pd.read_csv('rvht.csv')
Voter2023.head()

/Users/sarahdivakarla/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (13,27,28,30,37,41,43,44,46,52,58,77,79,80,84,90,91,99) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,voter_id_org,STATE_ID,city,ward,pct,name_last,name_first,name_middle,name_suffix,Status,...,S_02_06_2007,S_08_08_2006,P_05_02_2006,S_02_07_2006,scd,CONG,HSE,SEN,JUD,CCD
0,2901989,OH0025272132,NORTH ROYALTON,3,D,PATEL,AKASH,NaN,NaN,I,...,NaN,NaN,NaN,NaN,NROY CSD,CONG 07,HSE 15,SEN 24,PAR MCD,CCD 05
1,2785603,OH0024201764,PARMA,7,B,NABOZHNYAK,ZINOVIYA,NaN,NaN,I,...,NaN,NaN,NaN,NaN,PRMA CSD,CONG 07,HSE 14,SEN 23,PAR MCD,CCD 04
2,2842357,OH0024761339,CLEVELAND,11,H,VERES,MARIA,NaN,NaN,A,...,NaN,NaN,NaN,NaN,CLEV CSD,CONG 11,HSE 13,SEN 23,CLE MCD,CCD 03
3,145808,OH0014521945,BEDFORD HTS,1,B,CURTIS,STEVEN,B,NaN,A,...,NaN,NaN,NaN,NaN,BDFD CSD,CONG 11,HSE 19,SEN 18,BED MCD,CCD 09
4,2700035,OH0023494222,WESTLAKE,6,B,GIRGIS,MONIQUE,C,NaN,I,...,NaN,NaN,NaN,NaN,WLKE CSD,CONG 07,HSE 16,SEN 24,RRI MCD,CCD 01

In [3]:
Voter2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 866807 entries, 0 to 866806
Columns: 106 entries, voter_id_org to CCD
dtypes: int64(3), object(103)
memory usage: 701.0+ MB

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [5]:
reg_df = Voter2023[['voter_id_org','Registration Date']]
reg_df

        voter_id_org Registration Date
0            2901989        10/29/2019
1            2785603        01/24/2017
2            2842357        09/07/2018
3             145808        01/01/1901
4            2700035        02/03/2016
...              ...               ...
866802         74572        01/13/1988
866803        827236        04/18/1988
866804       2639654        06/16/2014
866805        346409        01/31/1984
866806        519360        01/01/1901

[866807 rows x 2 columns]

In [7]:
#Drop the Special Elections and just keep the primary and general Election Voting Data
PrimaryGeneral =Voter2023[Voter2023.columns.drop(list(Voter2023.filter(regex='S_|SG_|SP_')))]
PrimaryGeneral.shape

(866807, 76)

In [8]:
#Get Names of Columns 
PrimaryGeneral.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['voter_id_org', 'STATE_ID', 'city', 'ward', 'pct', 'name_last',
       'name_first', 'name_middle', 'name_suffix', 'Status', 'party',
       'Registration Date', 'Last Registration Date', 'house_no', 'pre_dir',
       'street', 'apartment', 'zip', 'birth_date', 'Source', 'G_11_08_2022',
       'P_08_02_2022', 'P_05_03_2022', 'G_11_02_2021', 'P_09_14_2021',
       'P_08_03_2021', 'P_05_04_2021', 'G_11_03_2020', 'P_03_17_2020',
       'G_11_05_2019', 'P_09_10_2019', 'P_05_07_2019', 'G_11_06_2018',
       'P_05_08_2018', 'G_11_07_2017', 'P_09_12_2017', 'P_05_02_2017',
       'G_11_08_2016', 'P_03_15_2016', 'G_11_03_2015', 'P_09_08_2015',
       'P_05_05_2015', 'G_11_04_2014', 'P_05_06_2014', 'G_11_05_2013',
       'P_10_01_2013', 'P_09_10_2013', 'P_05_07_2013', 'G_11_06_2012',
       'P_03_06_2012', 'G_11_08_2011', 'P_09_13_2011', 'P_05_03_2011',
       'G_11_02_2010', 'P_09_07_2010', 'P_05_04_2010', 'G_11_03_2009',
       'P_09_29_2009', 'P_09_08_2009', 'P_05_05_2009', 'G_11_04_2008',
       'P_03_04_2008', 'G_11_06_2007', 'P_10_02_2007', 'P_09_25_2007',
       'P_09_18_2007', 'P_09_11_2007', 'P_05_08_2007', 'G_11_07_2006',
       'P_05_02_2006', 'scd', 'CONG', 'HSE', 'SEN', 'JUD', 'CCD'],
      dtype='object')>

In [12]:
#Drop Primary Elections
General=PrimaryGeneral[PrimaryGeneral.columns.drop(list(PrimaryGeneral.filter(regex="P_")))]
General.shape

(866807, 43)

In [13]:
General.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['voter_id_org', 'STATE_ID', 'city', 'ward', 'pct', 'name_last',
       'name_first', 'name_middle', 'name_suffix', 'Status', 'party',
       'Registration Date', 'Last Registration Date', 'house_no', 'pre_dir',
       'street', 'apartment', 'zip', 'birth_date', 'Source', 'G_11_08_2022',
       'G_11_02_2021', 'G_11_03_2020', 'G_11_05_2019', 'G_11_06_2018',
       'G_11_07_2017', 'G_11_08_2016', 'G_11_03_2015', 'G_11_04_2014',
       'G_11_05_2013', 'G_11_06_2012', 'G_11_08_2011', 'G_11_02_2010',
       'G_11_03_2009', 'G_11_04_2008', 'G_11_06_2007', 'G_11_07_2006', 'scd',
       'CONG', 'HSE', 'SEN', 'JUD', 'CCD'],
      dtype='object')>